<h3>Create New League</h3>

<form id="createleague" action="/createLeague" method="post">
    <br>
    League Name
    <input type="text" name="name">
    <br>
    Scoring System
    <br>
    Fantasy Points for each FGM
    <input type="number" name="FGM">
    <br>
    Fantasy Points for each FGA
    <input type="number" name="FGA">
    <br>
    Fantasy Points for each FTM
    <input type="number" name="FTM">
    <br>
    Fantasy Points for each FTA
    <input type="number" name="FTA">
    <br>
    Fantasy Points for each Point
    <input type="number" name="Points">
    <br>
    Fantasy Points for each Assist
    <input type="number" name="Assists">
    <br>
    Fantasy Points for each Rebound
    <input type="number" name="Rebounds">
    <br>
    Fantasy Points for each Steal
    <input type="number" name="Steals">
    <br>
    Fantasy Points for each Block
    <input type="number" name="Blocks">
    <br>
    Fantasy Points for each Turnover
    <input type="number" name="Turnovers">
    <br>
    <input type="submit" value="Submit">
</form>

{{status}}