<h1>Welcome to Fantasy Basketball!</h1>
<div>
    Select the league to view using the dropdown in the top right
</div>
<div>
    To add rows to any entity, pick the appropriate page under the select menu.
    <br>
    Creating Teams or Matchups will be specific to the currently selected league
</div>