<h1>Standings</h1>

<table>
    <tr>
        <th>Team</th>
        <th>Record (W-L-T)</th>
    </tr>
{{#each standing}}
    <tr>
        <td>{{this.fantasyTeamName}}</td>
        <td>{{this.wins}}-{{this.losses}}-{{this.ties}}</td>
    </tr>
{{/each}}
</table>